.banner {
  background: url("./image/bg2.jpg") no-repeat center;
  background-size: cover;
  padding: 20%;
  color: black;
}

#projects {
  background-color: #d3d3d3;
  padding-top: 30px;
  padding-bottom: 30px;
}

#aaa {
  flex: 1 0 auto;
}

#bbb {
  flex-shrink: none;
}
